@model CrimeDatabase.Models.CrimeEvent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Crime Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrimeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrimeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationTown)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationTown)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VictimName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VictimName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrimeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrimeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
